body {
    background-color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
}

.header {
    color: #fff;
    font-size: 64px;
    position: absolute;
    left: 128px;
    top: 128px;
}