body {
    background-color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 0, 0, 0.75);
    padding-bottom: 2px;
}

a:hover {
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 0, 0, 1.0);
}

a.linkedin {
    font-weight: 800;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 119, 181, 0.7);
    padding-bottom: 2px;
}

a.linkedin:hover {
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 119, 181, 1.0);
}

a.github {
    font-weight: 800;
    text-decoration: none;
    border-bottom: 1px solid rgba(64, 120, 192, 0.7);
    padding-bottom: 2px;
}

a.github:hover {
    text-decoration: none;
    border-bottom: 2px solid rgba(64, 120, 192, 1.0);
}

a.instagram {
    font-weight: 800;
    text-decoration: none;
    border-bottom: 1px solid rgba(193, 53, 132, 0.7);
    padding-bottom: 2px;
}

a.instagram:hover {
    text-decoration: none;
    border-bottom: 2px solid rgba(193, 53, 132, 1.0);
}


.wrapper {
    position: absolute;
    left: 128px;
    top: 96px;
    padding-bottom: 256px;
}

.header {
    color: #fff;
    font-size: 64px;
    font-weight: 100;
}

.projects {
    color: #fff;
    font-size: 32px;
    font-weight: 100;
    margin-top: 64px;
}

.projects ul {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 3.0;
    list-style-type: none;
}